[user]
	name = ayato_p
	email = ayato.skycrawlers@gmail.com
	signingkey = 110CB5B1
[core]
	excludesfile = /home/ayato/.global_gitignore
	quotepath = false
[color]
	ui = auto
# [pager]
# 	log = diff-highlight | less
# 	show = diff-highlight | less
# 	diff = diff-highlight | less