[user]
	name = ayato_p
	email = ayato-p@panchromatic.org
	signingkey = 2C4B1626A4F18AB4
[core]
	excludesfile = /home/ayato/.global_gitignore
	quotepath = false
[color]
	ui = auto
# [pager]
# 	log = diff-highlight | less
# 	show = diff-highlight | less
# 	diff = diff-highlight | less
[gpg]
	program = gpg
