!*******************************************************************************
! rxvt config
!*******************************************************************************

! color
#include ".xcolors/tomorrow-night-eighties"

! font
URxvt.allow_bold: false

! URxvt*font:     xft:Droid Sans Mono:size=9,xft:Ubuntu Mono:size=9:antialias=true:hinting=true
! URxvt*boldFont: xft:Droid Sans Mono:size=9,xft:Ubuntu Mono:size=9:antialias=true:hinting=true
URxvt*font:     xft:Dejavu Sans Mono:size=8:antialias=true:hinting=true
URxvt*boldFont: xft:Dejavu Sans Mono:size=8:antialias=true:hinting=true

! fix font space
URxvt*letterSpace: -1

URxvt*dynamicColors:    true
URxvt*utf8:             2
URxvt*eightBitInput:    true
URxvt*saveLines:        1024
URxvt*scrollKey:        true
URxvt*scrollTtyOutput:  false
URxvt*scrollBar:        false
URxvt*rightScrollBar:   false
URxvt*jumpScroll:       true
URxvt*multiScroll:      true
URxvt*toolBar:          true
URxvt*colorBDMode:      true
URxvt*colorULMode:      true
URxvt*borderLess:       false
URxvt*urgentOnBell:     true

URxvt.iso14755: false
URxvt.iso14755_52: false

! extentions
URxvt.perl-lib: ~/.urxvt/ext
URxvt.perl-ext-common: resize-font,fullscreen

URxvt.inputMethod: fcitx
URxvt.preeditType: OnTheSpot

URxvt.resize-font.smaller: C-minus
URxvt.resize-font.bigger: C-equal
URxvt.resize-font.reset: C-0
URxvt.resize-font.show: C-question

URxvt.keysym.F11: perl:fullscreen:switch

Emacs*useXIM: false
